.books {
  display: flex !important;
  flex-direction: column;
  // padding-top: 5em;
  // height: 90%;
  // overflow-y: auto;

  img {
    align-self: center;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}
